<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot - Setup</title>
</head>
<body>
    <h1>Initialisation / Reset</h1>
    <p>Regardez l'écran du robot pour lire le code à 6 chiffres.</p>
    <form action="/reset" method="POST">
        Code OTP: <input type="text" name="otp"><br><br>
        Nouveau MDP: <input type="password" name="new_pwd"><br><br>
        <button type="submit">Sauvegarder</button>
    </form>
</body>
</html>